.countries{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.search{
    padding: 10px;
    border-radius: 10px;
    width: 400px;
}

.countryCard{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

}

.flags{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    margin: 30px;
    padding: 10px;
}

.flags img{
    height: 80px;
    width: 150px;
}

